$pane-min-width: 300px;
$pane-max-width: 100%;
$pane-min-height: 300px;
$pane-default-width: 100VW;
$pane-default-margin: 10px;
$album-list-view-content-max-height: 100%;

.album-list-view-pane-container {
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  min-height: 100VH;
}

.album-list-view-left-pane {
  min-width: $pane-min-width;
  min-height: $pane-min-height;
  max-width: $pane-max-width;
  width: $pane-default-width;
  margin: $pane-default-margin;
}

.album-list-view-right-pane {
  min-width: $pane-min-width;
  min-height: $pane-min-height;
  max-width: $pane-max-width;
  width: $pane-default-width;
  margin: $pane-default-margin;
}

.album-list-view-search {
  max-width: $pane-default-width;
  width: $pane-default-width;
}

.album-view-container  {
  max-height: $album-list-view-content-max-height;
  margin-bottom: 0;
  position: sticky !important;
  top: 10px;
  overflow-y: auto !important;
  max-height: 95VH;
}

.album-view-meta, .album-view-meta li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.album-view-meta li {
  margin-bottom: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .album-list-view-left-pane {
    max-width: 48VW;
  }
  
  .album-list-view-right-pane {
    max-width: 40VW;
  }

  .album-list-view-search {
    max-width: calc(90VW + 5px);
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .album-list-view-left-pane {
    max-width: 50VW;
  }
  
  .album-list-view-right-pane {
    max-width: 40VW;
  }

  .album-list-view-search {
    max-width: 92VW;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .album-list-view-left-pane {
    max-width: 30VW;
  }
  
  .album-list-view-right-pane {
    max-width: 25VW;
  }

  .album-list-view-search {
    max-width: calc(55VW + 20px);
  }
}