html {
  background-color: #28282B;
  max-width: 100VW;
  overflow-x: hidden;
}

html * {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
  font-family: "Inter", serif;
}
